@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "variables.less";

.league-list{
  .league-item {
    .league-title {
      font-size: 16px;
    }
  }
}

.team-list {
  .team-item {
    .team-title {
      font-size: 16px;
    }
  }
}

.team-page-header, .league-page-header {
  padding: 10px;
  border: solid 1px #ccc;
  background: #f8f8f8;
}

.cover-photo-thumb {
  .cover-photo-thumb-image {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
}