@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";
@import "variables.less";
@import "font.less";
@import "component.less";
@import "common.less";

.wrapper {
    & > .header-wrapper {
        
    }
    & > .content-wrapper {
        margin-top: 50px;
    }
}

.profile-page {
    .profile-cover {
        .cover-image {
            background: #1d2129;
            height: 200px;
            position: relative;
        }
        .user-name {
            position: absolute;
            bottom: 10px;
            left: 201px;
            color: #f8f8f8;
        }
    }
    .headline {
        position: relative;
    }
    .photo-container {
        position: absolute;
        top: -135px;
        left: 20px;
        .profile-picture-thumb {
            border-radius: 3px;
            border: solid 1px #e9e9e9;
            position: absolute;
            cursor: pointer;
            .profile-picture {
                width: 160px;
                height: 160px;
                border: 4px solid #fff;
                border-radius: 2px;
                display: block;
            }
            .edit-photo-link {
                position: absolute;
                width: 100%;
                height: auto;
                padding: 10px 20px;
                bottom: 0px;
                background-color: rgba(0,0,0, 0.5);
                color: white;
                opacity: 0;
                -webkit-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }
            &:hover .edit-photo-link {
                opacity: 1;
            }
        }
    }
    .headline-tab {
        padding-left: 200px;
        border: solid 1px #e9e9e9;
        border-top: none;
        background: #f8f8f8;
    }
}

.picture-action-panel {
    border-bottom: solid 1px #bbb;
}
